body{
    background-color: rgb(206, 197, 197);
    margin: 0;
}
div{
    box-sizing: border-box;
}
header{
    background-color: white;
    padding: 10px;
}
header h1{
    margin: 0;
    text-align: center;
}
div.post{
    background-color:white;
    margin-top: 10px;
}
div.post img{
    width: 100%;
}
div.post h2, div.post p{
    padding: 10px;
}
div.container{
  width: 600px;
  margin: auto;
  padding-top: 20px;
}
h2{
    float: left;
    display: inline-block;
    justify-content: space-between;
}
span{
    padding-top: 35px;
    padding-right: 10px;
    float: right;
    display: inline-block;
    justify-content: space-between;
    text-align: right;
    color: gray;
}
